@import url("https://fonts.bunny.net/css?family=Nunito");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-style: normal;
  font-size: 20px;
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

img {
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  position: fixed;
  height: 80px;
  width: 100%;
  background: #471477;
  z-index: 10;
}
.header .header__nav {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 20px;
}
.header .header__nav a {
  color: white;
  font-size: 30px;
  margin-left: 20px;
}
.header .header__nav a:hover {
  color: yellow;
}

.main {
  flex-grow: 1;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  padding: 150px 50px 50px;
  width: 100%;
}
.main .post {
  display: flex;
  flex-direction: column;
  max-width: 1500px;
  border: 1px solid gray;
  padding: 40px 40px 20px;
  margin-bottom: 50px;
}
.main .post .post__img {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  max-height: 700px;
}
.main .post .post__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main .post .post__content {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.main .post .post__content h2 {
  margin: 10px;
}
.main .post .post__content__date {
  margin-left: auto;
}
.main .post .post__content__date ul {
  display: flex;
  padding: 20px 10px 0 20px;
}
.main .post .post__content__date ul li {
  margin-right: 20px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  border-top: 1px solid black;
}

.article-comments {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 50px;
}
.article-comments .comment {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 30px;
  width: 100%;
}
.article-comments .comment .comment__user {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 20px 20px;
}
.article-comments .comment .comment__user .comment__user_name {
  font-weight: bold;
}

.products {
  display: flex;
  justify-content: center;
}
.products .products-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.products .products-content .products-card {
  margin: 20px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  width: 300px;
  height: 400px;
}
.products .products-content .products-card:hover {
  cursor: pointer;
  background: #f5d7ff;
}
.products .products-content .products-card div {
  margin-bottom: 10px;
}
.products .products-content .products-card .products-card__image {
  display: flex;
}
.products .products-content .products-card .products-card__image img {
  border-radius: 10px;
}
.products .products-content .products-card .products-card__title {
  margin-left: 20px;
  font-weight: bold;
  font-size: 30px;
}
.products .products-content .products-card .products-card__price {
  display: flex;
  justify-content: end;
  padding-right: 20px;
}
.products .products-categories {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}
.products .products-categories a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}
.products .products-categories .products-categories__title {
  font-weight: bold;
  margin-bottom: 20px;
}

.products-selected-card {
  display: flex;
  width: 80%;
  margin: auto auto;
}
.products-selected-card .products-selected-card__img {
  width: 50%;
  margin-right: 100px;
}
.products-selected-card .products-selected-card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}
.products-selected-card .products-selected-card__content h2 {
  font-size: 50px;
}
.products-selected-card .products-selected-card__content p {
  font-size: 30px;
  align-self: end;
}
